.title {
  margin-left: 600px;
}
.img {
  width: 200px;
  height: 200px;
}
.content {
  display: flex;
  margin-left: 10px;
}
.btn {
  border: none;
  background-color: red;
  padding: 15px 10px;
  border-radius: 10px;
}
.text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.button {
  margin-top: 100px;
  margin-left: 20px;
}
.cart-icon {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 85%;
  top: 0.1%;
}
.value {
  position: absolute;
  z-index: 12px;
  left: 89.1%;
  margin-top: 2px;
  font-weight: 700;
  font-size: 15px;
  color: black;
  background-color: red;
  width: 15px;
  height: 15px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
